extends ../layout

block title
	title МУАР | СТИЛИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/styles.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.touchSwipe.min.js' + version)
	script(type='text/javascript', src='/build/js/styles.js' + version)

block content_title
	.navigate_block
		.navigate_styles_block
			.navigate_styles_inner
				each age in ages
					.navigate_style_block(class=age._id)
						.navigate_style_title(class=age.sub.length == 0 ? 'not_sub' : '')= age.i18n.title.get('ru')
						.navigate_style_progress
						.navigate_style_ages
							.navigate_style_ages_inner
								each age_sub in age.sub
									.navigate_age= age_sub.i18n.title.get('ru')

block content
	.styles_block
		.styles_inner
			each age in ages
				.style_block(class=age._id)
					.style_block_inner
						.style_inner_height
							.style_header
								.style_line
								.style_title= age.i18n.title.get('ru')
							.style_description: != age.i18n.description.get('ru')
							each age_sub in age.sub
								.age_block(id=age_sub._id)
									.age_header
										.age_line
										.age_title= age_sub.i18n.title.get('ru')
									.age_description: != age_sub.i18n.description.get('ru')
									.age_objects









										//- each object in age_sub.objects
											a.object_block(href='/objects/' + object._id, style='background-image:url(' + object.images[0].thumb + ')')
												.object_description
													.object_description_inner
														.object_title=object.title[0].value
														.object_date=object.interval.start.getUTCFullYear() + ' - ' + object.interval.end.getUTCFullYear()
