extends ../../layout

block title
	title РЕДАКТИРОВАТЬ ОБЪЕКТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')
	script(type='text/javascript', src='/build/libs/js/jquery-ui-1.10.4.custom.min.js')
	script(type='text/javascript', src='/build/libs/js/jquery.filedrop.js')
	script(type='text/javascript', src='/build/js/upload.js')

block content
	.form_block
		a.back_link(href='/auth/objects') < Назад
		.title РЕДАКТИРОВАТЬ ОБЪЕКТ
		form(action="", method="post")
			.form_title Название:
			input.ru(type="text", name="ru[title]", value=object.i18n.title.get('ru'))
			input.en(type="text", name="en[title]", disabled)
			.form_title Адрес:
			input.ru(type="text", name="ru[adress]", value=object.meta.i18n.adress.get('ru'))
			input.en(type="text", name="en[adress]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)=object.i18n.description.get('ru')
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Стили:
			select.glob(name='history[main]')
				each age in ages
					option(value=age._id, selected=age._id.toString() == object.ages.main.toString())= age.i18n.title.get('ru')
			each age in ages
				span.sub
					each age_sub in age.sub
						input(type='checkbox', name='history[sub][]', value=age_sub._id, disabled=true)
						!= age_sub.i18n.title.get('ru')
			.form_title Архитекторы:
			.snake
				button(type='button').back -
				if object.architects.length > 0
					each self_architec in object.architects
						select(name='architects')
							option(value='') нет
							each architect in architects
								option(value=architect._id, selected=self_architec == architect._id.toString())= architect.i18n.name.get('ru')
				else
					select(name='architects')
						option(value='') нет
						each architect in architects
							option(value=architect._id)= architect.i18n.name.get('ru')
				button(type='button').forward +
			.form_title Категории:
			.snake
				button(type='button').back -
				if object.categorys.length > 0
					each self_category in object.categorys
						select(name='categorys')
							option(value='') нет
							each category in categorys
								option(value=category._id, selected=self_category == category._id.toString())= category.i18n.title.get('ru')
				else
					select(name='categorys')
						option(value='') нет
						each category in categorys
							option(value=category._id)= category.i18n.title.get('ru')
				button(type='button').forward +
			.form_title Интервал начало:
			input.ru(type="text", name="interval[start]", value=object.meta.interval.start.getUTCFullYear())
			.form_title Интервал конец:
			input.ru(type="text", name="interval[end]", value=object.meta.interval.end.getUTCFullYear())
			.form_title Изображения:
			.form_images_upload
				.form_desc_title Нажми или перетащи
				each image, i in object.images
					.image_upload_block
						.image_upload_preview(style='background-image:url(' + image.thumb + ')')
							.image_upload_delete Удалить
						textarea.image_upload_description(name='images[description][]')= image.description.filter(function(locale) { return locale.lg == 'ru' })[0].value
						input.image_upload_form(type='hidden', name='images[path][]', value=images_preview[i])
			//- input#images_upload_fallback(type="file", name="photo")
			br
			br
			input(type='submit', value='отправить')