extends ../../layout

block title
	title СПИСОК ОБЪЕКТОВ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК ОБЪЕКТОВ
	br
	a.add(href='/auth/objects/add') добавить объект
	br
	br
	.ages_navigate_block
		.menu_navigate_block_title Стили:
		.ages_all Все
		each age in ages
			.age_navigate_block
				.age_navigate_title(id=age._id)= age.i18n.title.get('ru')
				.ages_sub_list
					.sub_navigate_block
						each sub in age.sub
							.sub_item(id=sub._id)= sub.i18n.title.get('ru')
		.ages_legend_block
			.menu_navigate_block_title Легенда:
			.legend_item
				span(style='color: red;').legend [1..n]
				span.legend_title= ' - Картинки'
			.legend_item
				span(style='color: blue;').legend [1..n]
				span.legend_title= ' - Единицы хранения'
		.ages_navigate_options
			.menu_navigate_block_title Опции:
			.navigate_option
				img.option.not_images(src='/images/design/bus/obj_logo_2.gif')
				span.option_title= ' - Нет картинок'
			.navigate_option
				img.option.not_ages(src='/images/design/bus/obj_logo_1.gif')
				span.option_title= ' - Нет Связи со стилем'
			.navigate_option
				img.option.not_subjects(src='/images/design/bus/obj_logo_3.gif')
				span.option_title= ' - Нет единиц хранения'


	.main_menu_block
		each object in objects
			.object(class=object.ages.main, class=object.ages.sub)
				a.rm_object(href='#', id=object._id)= 'удалить '
				!=' | '
				a(href='/auth/objects/edit/' + object._id)= object.i18n.title.get('ru')
				if object.images.length > 0
					span(style='color: red; padding-left: 5px;')= '[' + object.images.length + ']'
				!=' --> '
				a(href='/auth/objects/' + object._id + '/subjects') единицы хранения
				if object.subjects.length > 0
					span(style='color: blue; padding-left: 5px;')= '[' + object.subjects.length + ']'
				span.object_options
					if object.ages.sub.length == 0
						img(src='/images/design/bus/obj_logo_1.gif').option.not_ages
					if object.images.length == 0
						img(src='/images/design/bus/obj_logo_2.gif').option.not_images
					if object.subjects.length == 0
						img(src='/images/design/bus/obj_logo_3.gif').option.not_subjects