extends ../layout

block title
	title= 'КАТЕГОРИИ | ' + category.i18n.title.get('ru').toUpperCase()


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/category.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/category.js' + version)

block content_title
	.category_header
		a.categorys_all(href='/categorys') Словарь архитектурных терминов
		.category_title= category.i18n.title.get('ru')

block content
	.category_description= category.i18n.description.get('ru')
	.category_attached_block
		.attached_title_block
			.attached_title_line
			.attached_title Привязанные объекты
		.category_attached_objects
			each object in objects
				- var image = object.images.length > 0 ? object.images[0].thumb : ''
				a.category_object(href='/objects/' + object._id, style='background-image:url(' + image + ')')
					.category_object_title_block
						.category_object_title= object.i18n.title.get('ru')
						.category_object_date= object.meta.interval.start.getUTCFullYear() + ' - ' + object.meta.interval.end.getUTCFullYear()
