extends ../layout

block title
	title= 'ОБЪЕКТЫ | ' +  object.i18n.title.get('ru').toUpperCase()


block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/leaflet.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/object.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/UnityObject2.js' + version)
	script(type='text/javascript', src='/build/libs/js/leaflet.js' + version)
	script(type='text/javascript', src='/build/js/object.js' + version)

mixin trimString(str)
	- if (/<cut\/>/.test(str))
		span: != str.split('<cut\/>')[0]
		span(class='show') Еще...
		span(class='hide'): != str.split('<cut\/>')[1]
	- else
		- if (str.length > 200)
			- for (var i = 200; i < str.length; i++)
				- if (str[i] == '.' || str[i] == '?' || str[i] == '!')
					span: != str.substr(0, i+1)
					span(class='show') Еще...
					span(class='hide'): != str.substr(i+1, str.length)
					- break
		- else
			span: != str


block content_title
	.object_header_block
		a.object_style(href='/styles/#' + object.ages.main._id)= object.ages.main.i18n.title.get('ru')
		.object_title= object.i18n.title.get('ru')
	.object_navigate_block
		.object_navigate.description.current Описание
		if (object.images.length > 0)
			.object_navigate.images Изображения
		if (object.subjects.length > 0)
			.object_navigate.subjects Единицы хранения
		if (projects.length > 0)
			.object_navigate.models Модели
	.object_slide_navigate.models_slide
		.slide_navigate_inner
			each project in projects
				.object_slide_item.models(path=project.model, style='background-image:url(' + project.photo + ')')
	.object_slide_navigate.images_slide
		.slide_navigate_inner
			each image in object.images
				.object_slide_item.images(style='background-image:url(' + image.thumb + ')')
	.object_slide_navigate.subjects_slide
		.slide_navigate_inner
			each subject in object.subjects
				.object_slide_item.subjects(path=subject._id, style='background-image:url(' + subject.image.thumb + ')')
					.object_slide_title
						.slide_title_inner= subject.i18n.title.get('ru').substr(0, 60) + '...'

block content
	.object_description_block
		.description_inner
			.description_column: +trimString( object.i18n.description.get('ru') )
			.description_column
				.column_item.style
					.column_title Стиль:
					a.column_content(href='/styles/#' + object.ages.main._id)= object.ages.main.i18n.title.get('ru')
				.column_item.interval
					.column_title Дата:
					.column_content= object.meta.interval.start.getUTCFullYear() + ' - ' + object.meta.interval.end.getUTCFullYear()
				.column_item.adress
					.column_title Адрес:
					.column_content= object.meta.i18n.adress.get('ru')
				if (object.architects.length > 0)
					.column_item.architects
						.column_title Архитекторы:
						each architect in object.architects
							a.architect_item(href='/architects/' + architect._id)= architect.i18n.name.get('ru')
				if (object.categorys.length > 0)
					.column_item.categorys
						.column_title Термины:
						each category in object.categorys
							a.category_item(href='/categorys/' + category._id)= category.i18n.title.get('ru')
	.object_images_block
		each image, i in object.images
			.object_image(style='background-image:url(' + image.original + ')')
				.images_navigate_block
					.images_navigate_block_inner
						.images_navigate_block_prev
							.images_arrow &lt;
						.images_navigate_block_next
							.images_arrow &gt;
	.object_subjects_block#subjects_view
	.object_3d_block#unityPlayer
		.missing
			a(href='http://unity3d.com/webplayer/', title='Unity Web Player. Install now!')
				img(alt='Unity Web Player. Install now!', src='http://webplayer.unity3d.com/installation/getunity.png', width='193', height='63')
		.broken
			span Broken!

block footer
	.descriptions_block
		each image in object.images
			.description_item.images: != image.description[0].value
	.descriptions_block
		each subject in object.subjects
			.description_item.subjects
				.subject_inventory= subject.meta.inventory
				.subject_title: != subject.i18n.title.get('ru')
				.subject_description: != subject.i18n.description.get('ru')