extends ../layout

block title
	title= 'СПЕЦПРОЕКТЫ | ' + project.i18n.title.get('ru').toUpperCase()


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/project.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/UnityObject2.js' + version)
	script(type='text/javascript', src='/build/js/project.js' + version)

block content_title
	.project_title= project.i18n.title.get('ru')

block content
	.project_description= project.i18n.description.get('ru')
	.project_model#unityPlayer(path=project.model)
		.missing
			a(href='http://unity3d.com/webplayer/', title='Unity Web Player. Install now!')
				img(alt='Unity Web Player. Install now!', src='http://webplayer.unity3d.com/installation/getunity.png', width='193', height='63')
		.broken
			span Broken!
	.project_attached_objects
		each object in project.objects
			a.architect_object(href='/objects/' + object._id, style='background-image:url(' + object.images[0].thumb + ')')
				.architect_object_name= object.i18n.title.get('ru')
